* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    padding: 3.5em;
}

ul,
p,
h1,
h2,
h3,
h4 {
    margin-bottom: 1em;
}

.site-header {
    border-bottom: 2px solid black;
    display: flex;
    /* padding-bottom: 1.1em; */
    margin-bottom: 1em;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    list-style: none outside;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}

.main-nav ul a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    flex-wrap: wrap;
} 

.site-title {
    font-weight: bold;
    font-size: 32pt;
    text-transform: uppercase;
} 

.main-nav {
    /* justify-content: left; */
} 

.site-footer{
    text-align: center;
    border-top: 2px solid black;
    padding-top: 1em;
} 

.site-footer p {
    margin: 0;
    
}